extends layout

block content
  if(user)
  a(href="/logout" class="btn btn-primary m-2") Logout
  .container
    .row.d-flex.justify-content-center
      .col-xs-5.col-xl-5.text-center.m-5
        if(user.google)
       
        h1 Hello!
         img(src=user.google.image)
        p= user.google.name
        p= user.google.email
        .form-group 
        .purple-border
          label About me:
          br
          textarea 




       



 
    //- <div class="form-group purple-border">
    //-     <label for="description"> About yourself:</label>
    //-     <textarea class="form-control" id="textbox" rows="3"></textarea>
    //-   </div>
       